@using SiteSondage.Models
@model ClassSondage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageChoix</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div>
        <h1 style="text-align:center;margin-top:4%">
            Que souhaitez vous faire ?
        </h1>
    </div>
    
    <form style="margin-left:35%" action="@Url.Action("PageVoter", new { idSondage = Model.IdSondage, numeroSecurite = Model.NumeroSecurite } )">
        <div class="form-group col-md-6" style="margin-top:3%">
            <label for="inputEmail4"></label>
            <input type="text" class="form-control" id="inputEmail4" value="@Url.Action("PageVoter", new { idSondage = Model.IdSondage })" />
                <input type="hidden" name="idSondage" value="@Model.IdSondage" />
                <input type="hidden" name="numeroSecurite" value="@Model.NumeroSecurite" />
                <input type="submit" name="Voter" value="Voter" class="btn btn-primary btn-lg" style="background-color:limegreen" />
           
        </div>

    </form>

    <form style="margin-left:35%" action="@Url.Action("PageSupprimer", new { idSondage = Model.IdSondage, numeroSecurite = Model.NumeroSecurite })">

        <div style="margin-top:2%; margin-right:40%">
            <input type="hidden" name="idSondage" value="@Model.IdSondage" />
            <input type="hidden" name="numeroSecurite" value="@Model.NumeroSecurite" />
            <label for="inputEmail4">Veuillez conserver se lien pour pouvoir supprimer le sondage</label>
            <input type="text" class="form-control" id="inputEmail4" value="@Url.Action("PageSupprimer", new { idSondage = Model.IdSondage, numeroSecurite = Model.NumeroSecurite })" />
            <input type="submit" name="Supprimer" value="Supprimer Sondage" class="btn btn-primary btn-lg" style="background-color:tomato" />
        </div>

    </form>

    <form style="margin-left:35%" action=" @Url.Action("PageResultat", new { idSondage = Model.IdSondage })">

        <div style="margin-top:5%">
            <input type="hidden" name="idSondage" value="@Model.IdSondage" />
            <label for="inputEmail4"></label>
            <input type="submit" id="inputEmail4" value="Résultat Sondage" class="btn btn-primary btn-lg" style="background-color:cornflowerblue" />

        </div>
    </form>

    <form action="@Url.Action("PageSondage")">
        <div style="margin-left:35%">
            <input style="margin-top:5%; background-color:grey" type="submit" value="Crée nouveau sondage" class="btn btn-primary btn-lg" />
        </div>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
