@model SiteSondage.Models.ClassSondage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageVoter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div style="text-align:center; margin-top:5%">
        <h1>
            VOTRE SONDAGE
        </h1>
    </div>



    <div class="form-row" style="margin-top:3%;margin-left:40%">
        <div class="form-group col-md-6">
            <label for="inputEmail4"><b>Question</b></label>
            <input type="text" class="form-control" id="inputEmail4" value="@Model.Question" readonly="readonly">
        </div>
    </div>
    <div style="margin-top:2%;margin-left:40%">
        <b> Nombre de votant : </b><b></b>
    </div>

    <div >

        @if (Model.ChoixMultiple == false)
        {
            <form style="margin-left:40%;margin-top:2%" action="@Url.Action("RecuperationVoteChoixUnique")">

                <span>INFO : sondage à choix unique</span>

                <div class="custom-control custom-checkbox" style="margin-top:5%">
                    <input type="radio" name="resultatchoix" value="Choix1" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">@Model.Choix1</label>
                </div>
                <div class="custom-control custom-checkbox" style="margin-top:5%">
                    <input type="radio" name="resultatchoix" value="Choix2" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">@Model.Choix2</label>
                </div>
                <div class="custom-control custom-checkbox" style="margin-top:5%">
                    <input type="radio" name="resultatchoix" value="Choix3" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">@Model.Choix3</label>
                </div>
                <div class="custom-control custom-checkbox" style="margin-top:5%">
                    <input type="radio" name="resultatchoix" value="Choix4" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">@Model.Choix4</label>
                </div>
                <input type="hidden" name="ChoixMultiple" value="false" />
                <input type="hidden" name="idSondage" value="@Model.IdSondage" />

                <input style="margin-top:5%;margin-right:5%" type="submit" class="btn btn-primary btn-lg" value="Voter">

            </form>
        }
        else
        {
            <form style="margin-left:50%" action="@Url.Action("RecuperationVoteChoixMultiple")">
                <span>INFO : sondage à choix multiple</span>
                <div class="custom-control custom-checkbox" style="margin-top:5%">
                    <input type="checkbox" name="ResultatChoix1" value="Choix1" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">@Model.Choix1</label>
                </div>
                <div class="custom-control custom-checkbox" style="margin-top:5%">
                    <input type="checkbox" name="ResultatChoix2" value="Choix2" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">@Model.Choix2</label>
                </div>
                <div class="custom-control custom-checkbox" style="margin-top:5%">
                    <input type="checkbox" name="ResultatChoix3" value="Choix3" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3">@Model.Choix3</label>
                </div>
                <div class="custom-control custom-checkbox" style="margin-top:5%">
                    <input type="checkbox" name="ResultatChoix4" value="Choix4" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4">@Model.Choix4</label>
                </div>
                <input type="hidden" name="ChoixMultiple" value="true" />
                <input type="hidden" name="idSondage" value="@Model.IdSondage" />

                <input style="margin-top:5%;margin-right:5%" type="submit" class="btn btn-primary btn-lg" value="Voter">

            </form>
        }





    </div>






    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
